{% extends 'base.html' %}
{% block content %}
{% load static %}

{% include 'includes/navbar.html'%}


    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Completed Project Detail</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Project Detail</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- ProjectDetails Start -->
    <div class="container-xxl py-2">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 700px;">
                <h1 class="display-6">Project Detail</h1>
                <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">
                    Note: This project is marked as completed — volunteering is no longer open.
                    To volunteer, visit the
                    <a href="{% url 'upcomingprojects' %}" class="text-primary text-decoration-underline fw-semibold">
                        Upcoming Project Page
                    </a>.
                </div>
            </div>
            <div class="row g-2 justify-content-center">


                <div class="col-lg-10 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="{{ project.main_image.url }}" alt="{{ project.name }}">
                        <h4 class="mb-3">{{ project.name }}</h4>
                        <p class="mb-4" style="text-align: justify;">
                            {{ project.full_description|linebreaks }}
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- ProjectDetails End -->

{% include 'includes/indonate.html' %}


{% include 'includes/intestimonial.html'%}


{% include 'includes/footer.html'%}

{% endblock %}