{% extends 'base.html' %}
{% block content %}
{% load humanize %}
{% load static %}

{% include 'includes/navbar.html'%}


<!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">UpComing Projects</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Projects</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">UpComing Projects</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- UpComingProjects Start -->
    <div class="container-xxl bg-light my-2 py-3">
        <div class="container py-5">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">UpComing Projects</div>
                <h1 class="display-6 mb-2">All Upcoming Projects Are Listed Below</h1>
            </div>
            <div class="row g-4 justify-content-center">
                
                            {% for project in project %}
                <div class="col-lg-4 col-md-6 wow mb-5 fadeInUp" data-wow-delay="0.1s">
                    <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="mb-4 d-flex justify-content-center">
                                <div class="d-inline-flex align-items-center gap-2 category-wrap">
                                    <div class="bg-primary text-white rounded-bottom fs-5 pb-1 px-3">
                                        <small>{{ project.category }}</small>
                                    </div>
                                    <span class="badge bg-light text-dark border">
                                        {{ project.date|date:"F j, Y" }}
                                    </span>
                                </div>
                            </div>
                            <h5 class="mb-3">{{ project.name }}</h5>
                            <p>{{ project.short_description }}</p>
                            <div class="causes-progress bg-light p-3 pt-2">
                                <div class="d-flex justify-content-between">
                                    <p class="text-dark">₦{{ project.goal_price|floatformat:0|intcomma }} <small class="text-body">Goal</small></p>
                                    <p class="text-dark">₦{{ project.raised_price|floatformat:0|intcomma }} <small class="text-body">Raised</small></p>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar
                                        {% if project.progress_percentage >= 100 %}
                                            bg-success
                                        {% elif project.progress_percentage >= 50 %}
                                            bg-warning
                                        {% else %}
                                            bg-danger
                                        {% endif %}"
                                        role="progressbar"
                                        aria-valuenow="{{ project.progress_percentage }}"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        style="width: {{ project.progress_percentage }}%;">
                                        <span class="bg-success">{{ project.progress_percentage }}%</span>
                                    </div>
                                </div>

                                {% if project.progress_percentage >= 100 %}
                                    <div class="text-center mt-2">
                                        <span class="badge bg-success">🎉 Goal Reached!</span>
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="{{ project.main_image.url|default:'/media/team_images/default.jpg' }}" alt="">
                            <div class="causes-overlay">
                                <a class="btn btn-outline-primary" href="{% url 'upcomingprojectdetail' project.pk %}">
                                    Read More
                                    <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                                {% empty %}
                                    <p>No upcoming projects available.</p>
                                {% endfor %}
            </div>
        </div>
    </div>
    <!-- UpComingProjects End -->
     
    


{% include 'includes/footer.html'%}

{% endblock %}